.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-fade .carousel-item
   
      .item {
          transition-property: opacity;
      }
      
      .item,
      .active.left,
      .active.right {
          opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
          opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
      }
  
.jumbotron{
  max-resolution: top 44px;
  padding: 14px;
  margin-left:570px;
  height:490px;
  width: 350px;
  background-color:black;
  border-radius: 7px;
  border-color: brown;

}
.container p{
  text-align: center;
font-size: 20px;
  color: brown;
}
